Desktop Entry]
Encoding=UTF-8
Value=1.0
Type=Application
Name={{ item.full_name }}
GenericName={{ item.full_name }}
Comment={{ item.name }}
Icon={{ item.icon }}
Exec="{{ item.exec }}" ""
Categories=Game;
Path="{{ item.path }}"
