{% if homeassistant_caldav -%}
  caldav_username: {{ homeassistant_caldav_username }}
caldav_password: {{ homeassistant_caldav_password }}
caldav_url: {{ homeassistant_caldav_url }}
{% endif %}

# Database
db_url: mysql://{{ hass_db_user }}:{{ hass_db_password }}@{{ hass_db_server }}:3306/{{ hass_db_name }}?charset=utf8

# Z-Wave
zwave_key: "{{ homeassistant_zwave_key }}"

{% if homeassistant_noahsameid is defined -%}
  noahsameid: {{ homeassistant_noahsameid }}
{% endif %}

trusted_net1: {{ homeassistant_trusted_net1 }}
trusted_net2: {{ homeassistant_trusted_net2 }}

darksky: {{ homeassistant_darksky }}

honeywell_user: {{ homeassistant_honeywell_user }}
honeywell_password: {{ homeassistant_honeywell_password }}

mqtt_password: {{ homeassistant_mqtt_password }}

shodan_api_key: {{ homeassistant_shodan_api_key }}
