---
# {{ ansible_managed }}

{% for secret in __ha_secrets -%}
  {{ secret.name }}: {{ secret.secret }}
{% endfor %}

{% for network in hearthminion_homeassistant_trusted_nets %}
trusted_net{{ loop.index }}: {{ network }}
{% endfor %}
